<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head}"></div>

<body>
<div th:replace="~{fragments/header}"></div>
<div class="container">
    <h2>Are you sure you want to delete this part?</h2>
    <!--/*@thymesVar id="partView" type="org.softuni.carDealer.domain.dtos.view.PartView"*/-->
    <form class="col-md-4" th:action="@{/parts/delete/{id}(id = ${partView.getId()})}" th:method="post" th:object="${partView}">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" id="name" th:value="*{getName()}" disabled/>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" step='0.01' value="0.00" name="price" class="form-control" id="price" th:value="*{getPrice()}" disabled/>
        </div>
        <div class="form-group">
            <label for="supplier">Supplier</label>
            <select name="supplier" id="supplier" class="form-control" disabled>
                <!--/*@thymesVar id="supplierView" type="org.softuni.carDealer.domain.dtos.view.SupplierView"*/-->
                <option th:text="${supplierView.getName()}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" name="quantity" step='0' class="form-control" id="quantity" disabled th:value="*{getQuantity()}"/>
        </div>
        <button type="submit" class="btn btn-primary">Delete</button>
    </form>
</div>
</body>
</html>