<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Casebook</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="container-fluid">
    #(navbar)
    <hr class="my-2">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
           $(user)
        </div>
    </div>
    <hr class="my-3"/>
    #(footer)
</div>
</body>
</html>