<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head}"></div>

<body>
<div th:replace="~{fragments/header}"></div>
<div class="container">
    <h2 class="text-center">All sales ordered by discount</h2>
    <table class="table">
        <thead>
        <tr>
            <th class="text-center">Car Make</th>
            <th class="text-center">Car Model</th>
            <th class="text-center">Travelled distance</th>
            <th class="text-center">Customer</th>
            <th class="text-center">Price with Discount</th>
            <th class="text-center">Price without Discount</th>
            <th class="text-center">Discount Percent</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="sale" type="org.softuni.carDealer.domain.dtos.view.SaleWithCarView"*/-->
        <!--/*@thymesVar id="saleViews" type="java.util.List"*/-->
        <tr th:object="${sale}" th:each="sale: ${saleViews}">
            <td class="text-center" th:text="*{getCar().getMake()}"></td>
            <td class="text-center" th:text="*{getCar().getModel()}"></td>
            <td class="text-center" th:text="*{getCar().getTravelledDistance()}"></td>
            <td class="text-center" th:text="*{getCustomerName()}"></td>
            <td class="text-center" th:text="*{getPriceWithDiscount()}"></td>
            <td class="text-center" th:text="*{getCarPrice()}"></td>
            <td class="text-center" th:text="*{getDiscount()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
